<html>
	<body>
		<p><a href="/">Home</a></p>
		<p><a href="/opencv">opencv</a></p>
		<img src="http://10.38.89.227:3000/example.jpg" height="500" width="400"> Input </img>
		<img src="http://10.38.89.227:3000/example1.jpg" height="500" width="400"> Output </img>
	</body>
</html>
